.title-text {
    font: 600 Poppins, sans-serif;
    margin-bottom: 0,75rem;
    color:#ffffff; 
}
.nama-text {
    font: 500 Poppins, sans-serif;
    color: #ffffff;
}
.caption text {
    font: 400 Poppins, sans-serif;
    color:#ffffff
}